<div class="container">
  <div class="videos">
  {{#each galleries}}
    <div class="video">
      <div class="video__inner">
        <h1>{{this.name}}</h1>
        <div class="video__overlay">
          <h2>{{this.name}}</h2>
          <address>
            {{this.address.streetAddress}} <br>
            {{this.address.addressLocality}}, {{this.address.addressRegion}}
          </address>
        </div>
        <video loop autoplay class="video__player" poster="{{this.video.thumbnail}}">
          <source src="videos/gallery.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  {{/each}}
    <script src="js/client.js"></script>
  </div>
</div>
